<!DOCTYPE html>
<html>
<head>
  <title>Whos On Pool?</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #status-img, #status-msg {
      padding: 0;
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    #status-msg {
      font-family: 'PT Sans', sans-serif;
      font-size: 6em;
      text-align: center;
    }
    #status-img {
      width: 100%;
    }
  </style>
</head>
<body>
  <h1 id="status-msg">Loading...</h1>
  <script type="text/javascript">

    // Create a new HTML5 EventSource
    var source = new EventSource('/status/');

    // var statuses = new Object();
    // statuses["empty"] =    "http://i.imgur.com/jnXYZlN.gif" // Running minions
    // statuses["occupied"] = "http://i.imgur.com/reVgzvz.gif" // Angry
    // statuses["verybusy"] = "http://media.giphy.com/media/dXTTAge3atNPa/giphy.gif" // Gross

    var titles = new Object();
    titles["empty"] = "Nobody is playing!";
    titles["occupied"] = "In use..."
    titles["verybusy"] = "Very busy!"

    // Create a callback for when a new message is received.
    source.onmessage = function(e) {
      // document.getElementById('status-img').src = statuses[e.data];
      document.getElementById('status-msg').innerHTML = titles[e.data];
      window.document.title = titles[e.data];
    };
  </script>
  <img id="status-img" style="display: none">
</body>
</html>
